.logo-container {
  z-index: 0;
  position: fixed;
  // top: 5000;
  height: 700px;
  right: 0;
  filter: hue-rotate(100);
  filter: drop-shadow(100);
  margin-top: 0px;
  margin-right: 150px;
  bottom: 500;
  // background-blend-mode: color-burn;
  // left: auto;
  // margin: auto;
  video {
    height: 550px;
    width: auto;
  
  // width: 100%; // Adjust to container
  // height: 100%; // Adjust to container
  object-fit: cover; // Make sure it covers the container
  display: block; // Remove any unwanted inline space
  }

  
}

@media screen and (max-width: 1200px) {
  // Adjust typography for mobile
  .logo-container {
    // z-index: 0;
    position: fixed;
    // top: 5000;
    height: 1000px;
    // right: 0;
    filter: hue-rotate(100);
    filter: drop-shadow(100);
    // margin-top: 0px;
    // margin-right: 150px;
    // bottom: 500;
    // background-blend-mode: color-burn;
    // left: auto;
    // margin: auto;
    video {
      height: 300px;
      width: auto;
    }
  }
  
}
